coverage
lib
node_modules

# Old test-app-backend iModel cache location
.cache
# test-app-backend iModel cache location
.cache_*

npm-debug.log*
pnpm-debug.log*

.env.*

packages/test-app-frontend/dist/
*.DS_Store
