a {
  margin: 0px auto 50px;
}

.button {
  overflow: hidden;
  position: relative;
  border: 0px solid black;
  border-radius: 50px;
}

.svg {
  color: white;
  fill: #ffffff;
  position: absolute;
  left: 18px;
  top: 25%;
}

.text {
  padding-left: 20px;
}
