.circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.added {
  background-color: green;
}

.modified {
  background-color: blue;
}

.node-label{
    display: inline-block;
}
